#contenedorPrincipal { 
    height: 90%;
    opacity: 0;
    margin: 10px auto;
    text-align: center;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;  
    width: 90%; 
}

#contenedorEscenario {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

#escenario {
    border-radius: 4px;
    height: 100%;
    image-rendering: pixelated;
    width: 100%;
    z-index:0;
}
