#contenedorPrincipal { 
    height: 90%;
    opacity: 0;
    margin: 10px auto;
    text-align: center;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;  
    width: 90%; 
}

#contenedorEscenario {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

/*#contenedorPanelControl {      
    background-color: white;
    border: 4px double gray;
    border-radius: 4px;   
    color: white; 
    height: 40%;
    margin: 0 auto; 
    margin-top: 2px;
    overflow: hidden;
    position: relative; 
    width: 100%;
}*/

#escenario {
    border-radius: 4px;
    height: 100%;
    image-rendering: pixelated;
    width: 100%;
    z-index:0;
}

#retratoPersonajeTurno {
    height: 50px;
    top: 2px;
    left: 2px;
    position: absolute;
    image-rendering: pixelated;
    width: 50px;
    z-index: 1;
}

.contenedorPanelControl {      
    background-color: white;
    border: 4px double gray;
    border-radius: 4px;   
    color: white; 
    height: 25%;
    top: 8px; 
    left: 8px;
    margin-top: 2px;
    overflow: hidden;
    position: absolute; 
    width: 25%;
}