
<div class="col-12" id="contenedorPrincipal">
    <!--<audio autoplay controls id="reproductorAudio" src="assets/audios/musicaBatalla.wav"></audio>-->
    <h2>Primera Etapa</h2>
    <div id="contenedorEscenario">
        <img id="escenario" src="assets/images/escenario.png">        
    </div>
    <panel-control 
        (atacar)="seleccionarObjetivos()" 
        [identificadorPersonajeTurno]="identificadorPersonajeTurno"
        [nombrePersonajeTurno]="nombrePersonajeTurno"
        [saludPersonajeTurno]="saludPersonajeTurno"
        [habilitarPanelControl]="habilitarPanelControl"/>
</div>
