<table id="panelControl">
    <tbody>
        <tr>

            @if (habilitarPanelControl) {

                <td>
                    <img id="imagenRetratoPersonaje" src="assets/images/imagenBlanco.png">
                </td>
                <td>
                    <button class="btn btn-danger botonAccion" (click)="botonAtacar()" id="botonAtacar"
                        type="button">Atacar</button>
                </td>
                <td>
                    <button class="btn btn-success botonAccion" id="botonHabilidad" type="button">Habilidad
                        Especial</button>
                </td>

            } @else {

                <td>
                    <img id="imagenRetratoPersonaje" src="assets/images/imagenBlanco.png">
                </td>
                <td>
                    <button class="btn btn-secondary botonAccion" disabled id="botonAtacar" type="button">Atacar</button>
                </td>
                <td>
                    <button class="btn btn-secondary botonAccion" id="botonHabilidad" disabled type="button">Habilidad
                        Especial</button>
                </td>
            }
        </tr>
        <tr>
            @if (habilitarPanelControl) {

                <td>
                    <p id="parrafoNombrePersonaje">Nombre: <label>{{ nombrePersonajeTurno }}</label></p>
                </td>
                <td>
                    <button class="btn btn-primary botonAccion" id="botonDefender" type="button">Defender</button>
                </td>
                <td>
                    <button class="btn btn-warning botonAccion" id="botonTerminar" type="button">Terminar Turno</button>
                </td>

            } @else {

                <td>
                    <p id="parrafoNombrePersonaje">Nombre: <label>---</label></p>
                </td>
                <td>
                    <button class="btn btn-secondary botonAccion" disabled id="botonDefender"
                        type="button">Defender</button>
                </td>
                <td>
                    <button class="btn btn-secondary botonAccion" disabled id="botonTerminar" type="button">Terminar
                        Turno</button>
                </td>
            }
        </tr>
        <tr>
            @if (habilitarPanelControl) {

                <td>
                    <p id="parrafoSaludPersonaje">Salud: <label>{{ saludPersonajeTurno }}</label>/<label>{{
                            saludPersonajeTurno }}</label></p>
                </td>

            } @else {

                <td>
                    <p id="parrafoSaludPersonaje">Salud: <label>---</label>/<label>---</label></p>
                </td>
            }
        </tr>
    </tbody>
</table>