body {
  background-color: black;
  color: white;
  height: 100dvh;
  overflow: hidden;
  width: 100dvw;
}

@font-face {
  font-family: 'VT323';
  src: url('../src/assets/fonts/VT323-Regular.ttf') format('truetype');
}
