body {
  background-color: black;
  color: white;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

@font-face {
  font-family: 'VT323';
  src: url('../src/assets/fonts/VT323-Regular.ttf') format('truetype');
}
